body{
	font-family: 'TrebuchetMS', 'Helvetica', 'Arial';
	margin:15px;
	padding:15px;
}
table{
	width:100%;
}
table th{
	background-color:#e0e0e0;
}
table tr:hover{
	background-color:#f0f0f0;
}
table th {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;			
}
.arrow{
	font-weight:bold;
}
input[type=text]{
	width:80%;
	padding: 5px;
	border: 1px solid #999;
}
input[type=number]{	
	padding: 5px;
	border: 1px solid #999;
}
input[type=button]{
	cursor: pointer;
}
.right{
	text-align:right;
}	
#loader{
	position:absolute;
	padding: 10px;
	margin:10px;
	width:80%;
	background-color:white;
	border: 1px solid #e0e0e0;
	display:none;
}
.good{
	color: green;
	background-color: #e6ffd9;
	border: 1px solid green;
	font-size:11px;
	padding: 5px;
	margin: 5px;
}
.bad{
	border: 1px solid red;
	background-color: #ffd4d4;
	color: red;		
	font-size:11px;
	padding: 5px;
	margin: 5px;
}
#msgGood{
	position:absolute;
	padding:10px;
	margin:10px;
	width:80%;
	border: 1px solid green;
	background-color: #e6ffd9;
	color: green;
	display:none;
}	
#msgBad{
	position:absolute;
	padding:10px;
	margin:10px;
	width:80%;
	border: 1px solid red;
	background-color: #ffd4d4;
	color: red;
	display:none;
}
.small{
	font-size:10px;
	color:#ccc;
}	
#logform{
	display:none;
}
#magicBtn{
	font-size:18px;
	font-weight:bold;
	padding:10px;
	margin:10px;
	background-color: #f4f9ff;
}